This is the document for the DSAID Data Engineering Technical Test - Section 1.
The objective of this section is to design and implement a solution to process a data file on a regular interval (e.g. 1am  daily). Given the test data file dataset.csv,  the expected output of the processing task is a CSV file including a header containing the field names. 

Processing tasks:

Split the name field into first_name, and last_name
Remove any zeros prepended to the price field
Delete any rows which do not have a name
Create a new field named above_100, which is true if the price is strictly greater than 100

The code is written in Python.

In [6]:
#import pandas
import pandas as pd

#declare a variable to hold URL
filename = 'dataset.csv'

#read dataset.csv file into a dataframe
df = pd.read_csv(filename, sep=',')

#print top 5 records
print(df.head())
print(df.info())

             name       price
0   William Dixon  109.037280
1    Kristen Horn  262.524652
2  Kimberly Chang  187.007258
3       Mary Ball  283.174648
4  Benjamin Craig  143.871582
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    10000 non-null  object
 1   price   10000 non-null  float64
dtypes: float64(1), object(1)
memory usage: 156.4+ KB
None

In [7]:
df_split_name = df["name"].str.split(" ", n= -1, expand = True)
#title column from new data frame
#df["Title"] = df_split_name[1]
#first name column from new data frame 
df["First_Name"] = df_split_name[0]
#last name column from new data frame
df["Last_Name"] = df_split_name[1]

print(df.head())

             name       price First_Name Last_Name
0   William Dixon  109.037280    William     Dixon
1    Kristen Horn  262.524652    Kristen      Horn
2  Kimberly Chang  187.007258   Kimberly     Chang
3       Mary Ball  283.174648       Mary      Ball
4  Benjamin Craig  143.871582   Benjamin     Craig